@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

/*global styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: url('./assets/img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
  width: 100%;
  overflow: hidden; 
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/*main menu*/
.menu {
  float: left;
  position: absolute;
  min-height: 100%;
  width: 500px;
  z-index: 1000;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform-origin: 100% 0;
  transform: translate(-336px, 0);
}

.menu.open {
  transform: translate(0, 0) skew(0);
}

.menu.open .menu-form {
  transform: skewX(-25deg);
}

.menu.open .menu-form:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #2980B9;
  box-shadow: 0px 0px 6px 1px rgba(93, 173, 226, 0.7);
}

.menu-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #283747;
  z-index: 1001;
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform-origin: 100% 0;
  transform: skewX(-38deg);
}

.menu.open .menu-btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s, visibility 0s;
}

/*menu content*/
.menu-content {
  position: relative;
  padding: 35px 55px 35px 25px;
  font: normal 16px/1.25;
}

.menu.open .menu-content {
  z-index: 1002;
}
.menu-nav {
  margin-top: 35px;
}

.menu.open .menu-nav a {
  transform: translate(0, 0);
  transition: color .2s ease-in-out 0s, opacity .3s ease, transform .3s ease;
  opacity: 1;
}

.menu-nav a {
  opacity: 0;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  color: #5DADE2;
  transform: translate(0, 100%);
}

.menu.open .menu-nav a:hover {
  color: #3498DB;
  transition-delay: 0s !important;
}

/*toggle button*/
.menu-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 38px;
  right: 39px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  border: 2px solid #AEB6BF;
  transition: opacity .4s cubic-bezier(0.95, 0.05, 0.795, 0.035), visibility .4s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transform: skew(38deg) rotate(38deg);
}

.menu-btn i {
  transform: rotate(-38deg);
  color: #AEB6BF;
}

.menu-btn:hover i{
  color: #3498DB;
}

/*close button*/
.menu.open .menu-close {
  opacity: 1;
  transition: color .2s ease, opacity 1s ease 1s, transform .3s ease 1s;
  transform: translate(0, 0);
}

.menu-close {
  opacity: 0;
  display: inline-block;
  margin-top: 65px;
  margin-left: 15px;
  font-size: 18px;
  color: #BDC3C7;
  transform: translate(0, 100%);
}

.menu-close:hover {
  color: #A569BD;
}

